body {
  font-family: 'Roboto', sans-serif;
}

.title-text {
  font-size: 4rem;
  color: #fff;
  text-shadow:
    0 0 5px #ff005e,
    0 0 10px #ff005e,
    0 0 20px #ff005e,
    0 0 40px #ff005e,
    0 0 80px #ff005e;
}
